<div>
    <div class="page-header">
        <h1 id="title">{{god.title}} <small id="subtitle">{{god.subtitle}}</small></h1>
        <h6 id="date">{{god.date}}</h6>
        <h5 id="author">{{god.author}}</h5>
    </div>
    <div id="sections" class="row">
        <div ng-repeat="section in god.sections" ng-switch="section.type" class="col-md-12">
            <div ng-switch-when="image">
                <<div class="thumbnail">
                  <img ng-src="{{section.content}}" class="img-responsive">
                  <div class="caption">
                    {{section.caption}}
                  </div>
                </div>
            </div>
            <div ng-switch-when="text">
                <p>
                    {{section.content}}
                </p>
            </div>
            <div ng-switch-default>
                {{section.content}}
            </div>
        </div>
    </div>
</div>
