<!--HOME VIEW-->

<!--header-->
<div class="mainfront" at-carousel="data/homeCarousel.json" at-interval="8000" at-height="80vh">
    <div class="jumbotron container hcenter">
        <div><span logo-mark-light="large"></span><span logo-light="large"></span>
        </div>
        <h2>team 2854</h2>
        <br>
        <div at-countdown="2015-02-17T23:59:59.999" at-countdown-post="until the end of build season"></div>
    </div>
</div>

<div id="about">
    <div class="container">
       <div class="page-header">
           <h1>About Us</h1>
       </div>
       <blockquote>
           <h4>Yeah, we build robots. But we also build character, friendships, and our identity to propel ourselves into the “real world".</h4>
       </blockquote>
        <p>Evergreen Valley High School’s robotics team, better known as the Prototypes, rose from humble origins. It was established in 2009 by a group of friends who wanted to put their passion and fervor for STEM to the test by participating in FIRST (For the Inspiration and Recognition of Science and Technology) Robotics Competition, also known as FRC. With limited resources and no experience whatsoever, the Prototypes tackled the challenge and took their robot to the Sacramento Regionals.  Against all odds, the Prototypes were given the “Rookie Inspiration Award” and attained the highest rookie seed. </p>

        <p>The Prototypes experienced impediments throughout the years; however, they developed an attribute that combines resoluteness, mental dexterity, and consanguinity to work towards a common goal. In 2013, the Prototypes were bestowed with the “Judge’s Award” due to their creative usage of materials under a limited budget. Now, the Prototypes continue to foster excellence by exposing their campus to the ingenuity of FIRST. In 2014, EVHS Robotics has expanded to competing in FTC to provide their newest members with greater opportunities for hands on learning, outlets to explore their interests, and opportunities to develop their skills to prepare for the innovation and determination required for FRC. </p>
    </div>
</div>

<div id="bios" officer-bios>
</div>