<header>
  <div class="container jumbotron">
    <h1>Javagod <small>a static site engine</small></h1>
  </div>
  <div class="container">
    <div class="page-header">
      <h1>God Post Creator</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="css-form">
          <div class="input-group input-group-lg">
            <input type="text" ng-model="post.title" placeholder="Title" class="form-control">
          </div>
          <div class="input-group input-group-sm">
            <input type="text" ng-model="post.subtitle" placeholder="Subtitle" class="form-control">
          </div>
          <div class="input-group">
            <input type="text" ng-model="post.date" placeholder="yyyy-mm-dd" class="form-control">
          </div>
          <div class="input-group">
            <input type="text" ng-model="post.author" placeholder="Author" class="form-control">
          </div>
      </div>
      </form>
    </div>
  </div>
  </div>
</header>
